{% extends 'base.html' %} {% block content %}
<br />
<style>
    .grid-toggle {
        background-color: red;
        color: white;
    }
</style>
<div class="toggle-switches">
    <a href="/gridview"><span>Grid View</span></a>
    <a href="/pinview"><span class="grid-toggle">Pin View</span></a>
    <a href="/"><span>List View</span></a>
</div>
<br>
{% for event in events %}
<a href="{% url 'event_detail' event.id %}">
    <div class="row">
        <div class="col s3">
            <div class="card">
                <div class="card-image">
                    <img class="responsive-img" src="{{ event.image }}" />
                </div>
                <div class="card-content">
                    <span style="font-size: 18px;" class="card-title">{{event.title|truncatechars:16}}</span>
                    <p style="font-size: 14px;">{{ event.start_time }}</p>
                    <div>                    
                </div>
            </div>
        </div>
    </div>
</a>

{% endfor %} {% endblock content %}
