{% extends 'base.html' %} {%load static%} {% block content %}

<h2 class="protext">{{user}}</h2>

<div class="proimg">
  <div class="propic">
    <img src="{{user.profile.profile_pic}}" width="500" height="500" />
  </div>
  <form
    action="{% url 'add_photo' profile.id %}"
    enctype="multipart/form-data"
    method="POST"
  >
    {% csrf_token %}
    <input type="file" name="photo-file" />

    <input type="submit" value="Change Photo" />
  </form>
</div>
<h4 class="protext">{{user.profile.bio}}</h4>
<br />
<div class="probtn">
  <a class="red btn" href="{% url 'edit_profile' profile.id %}">Edit profile</a>
  <a class="red btn" href="{% url 'user_delete' user.id %}">Delete account</a>
</div>

<br />
<br />

<h3>Events you created:</h3>

{% for event in my_events %}

<div class="row">
  <div class="col s12 m12">
    <div class="card">
      <div class="card-image">
        {% if event.image %}
        <img src="{{event.image}}" />
        {% else %}
        <img
          src="{% static 'img/img-default.png' %}"
          style="width: 10%; margin-left: 30px"
        />
        {% endif %}
        <a
          href="{% url 'delete_event' event.id %}"
          class="btn-floating halfway-fab waves-effect waves-light red tooltipped"
          data-tooltip="Delete event"
          data-position="top"
          ><i class="material-icons">delete</i></a
        >
      </div>
      <div class="card-content">
        <span class="card-title">{{ event.title }}</span>
        {% for detail in details %} {{ detail|safe }} {% endfor %}
        <br />
        <p>Starts: {{ event.start_time }}</p>
        <p>Ends: {{ event.end_time }}</p>
        <p>
          Location: {% for venue in event.venue.values%}{{venue.name}} --
          {{venue.address}}, {{venue.city|title}} {%endfor %}
        </p>
        <br />
        <p>Who's going: {{ event.attendees.all|join:', ' }}</p>
        <p>Uploaded By: {{ event.created_by }}</p>
        <br />
        {% for tag in event.tags.all %}
        <a href="{% url 'search' %}?q={{tag.name}}"
          ><div class="chip">{{ tag.name }}</div></a
        >
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endfor %}

<h3>events you are attending</h3>

{% for event in all_events %}

<div class="row">
  <div class="col s12 m12">
    <div class="card">
      {%if event.created_by != user%}
      <div class="card-image">
        {% if event.image %}
        <img src="{{event.image}}" />
        {% else %}
        <img
          src="{% static 'img/img-default.png' %}"
          style="width: 10%; margin-left: 30px"
        />
        {% endif %}
        <a
          href="{% url 'remove_from_calendar' event.id %}"
          class="btn-floating halfway-fab waves-effect waves-light red tooltipped"
          data-tooltip="Remove from calendar"
          data-position="top"
          ><i class="material-icons">remove</i></a
        >

        {%endif%}
      </div>
      {%if event.created_by != user%}
      <div class="card-content">
        <span class="card-title">{{ event.title }}</span>
        {% for detail in details %} {{ detail|safe }} {% endfor %}
        <br />
        <p>Starts: {{ event.start_time }}</p>
        <p>Ends: {{ event.end_time }}</p>
        <p>
          Location: {% for venue in event.venue.values%}{{venue.name}} --
          {{venue.address}}, {{venue.city|title}} {%endfor %}
        </p>
        <br />
        <p>Who's going: {{ event.attendees.all|join:', ' }}</p>
        <p>Uploaded By: {{ event.created_by }}</p>
        <br />
        {% for tag in event.tags.all %}
        <a href="{% url 'search' %}?q={{tag.name}}"
          ><div class="chip">{{ tag.name }}</div></a
        >
        {% endfor %}{%endif%}
      </div>
    </div>
  </div>
</div>

{% endfor %} {% endblock %}
