{% extends 'base.html' %} {% block content %}

<h1>profile page</h1>

<h6>username: {{user.username}}</h6>
<h6>email: {{user.email}}</h6>

<a href="{% url 'user_delete' user.id %}">delete account</a>
<a href="{% url 'edit_profile' profile.id %}">edit profile</a>
<br /><br />

{{user.profile.bio}}<br />

<img src="{{user.profile.profile_pic}}" width="50" height="60" />

<form
    action="{% url 'add_photo' profile.id %}"
    enctype="multipart/form-data"
    method="POST"
    class="card-panel"
>
    {% csrf_token %}
    <input type="file" name="photo-file" />
    <br /><br />
    <input type="submit" class="red btn" value="Change Photo" />
</form>

<h3>Events you created:</h3>

<h3>Events you are attending:</h3>

{% endblock %}
