@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap");

* {
  color: white;
  font-family: "Red Hat Mono", monospace;
}

body {
  /* background-color: #212121; */
  background-color: grey;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

#flex-container {
  display: flex;
  justify-content: space-between;
}

.toggle-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.toggle-switches {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.toggle-switches span {
  padding: 5px 20px 5px 20px;
  border: 1px solid black;
}

.toggle-switches span:hover {
  background-color: black;
  cursor: pointer;
}

.calendar {
  width: 98%;
  margin: auto;
  font-size: 13px;
  margin-bottom: 40px;
}

.calendar tr,
.calendar td {
  border: 1px solid white;
  background-color: #212121;
}

.calendar td:hover {
  background-color: #171616;
  cursor: pointer;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 18px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}
